body {
  font-family: 'Titillium Web', sans-serif;
  background: #f0f0f0;
  color: #333;
}

h1, h2 {
  color: #005555;
}

input , label{
  display: block;
}


footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}
